{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<div class="Gflexa">
		<div class="flexa1">
			<a href="{{path('absenceEtudiant')}}"></a>
		</div>
		<div class="flexa2">
			<a href="{{path('absenceProf')}}"></a>
		</div>
	</div>
{% endblock %}
