

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Roboto+Slab&family=Pacifico&family=Secular+One&family=Courgette&display=swap');
*
{
   font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #435165;
  margin: 0;
}
.msg {
color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
}
.main{
 margin-top:50px;
}

h1.title {
font-size: 50px;
font-family: 'Passion One', cursive;
font-weight: 400;
}

hr{
width: 10%;
color: #fff;
}

.form-group{
margin-bottom: 15px;
}

label{
margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login{
 background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
   height: auto!important;
padding: 8px 12px !important;
}
.input-group {
   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.main-center{
   margin-top: 30px;
   margin: 0 auto;
   max-width: 400px;
   padding: 20px 40px;
   background:#FCFCFC;
   color: black;
   text-shadow: none;
   -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
   border-radius: 5px;
}
span.input-group-addon i {
   color: #394a49;
   font-size: 17px;padding:10px;
}

.login-button{
margin-top: 5px;
}

.login-register{
font-size: 11px;
text-align: center;
}

.site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
color:#fff;
}
.login-box
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 30px;
   /* background: #f0ffff; */
   background: #FCFCFC;
}
.login-body
{
   width: 200px;
   height: 400px;
   padding: 50px 25px;
}
.carte
{
   /* border: 1px solid black; */
   border-radius: 5px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
}
.rememb
{
   display: block;
}
.centre
{
   text-align: center;
   margin-top: 10px;
}
.login-header
{
   font-size: 3rem;
   background-color: #a5a58d;
   width: 100%;
   height: 75px;
   padding: 20px 15px;
   color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px
}
.form-groupx
{
   width: 250px;
}
.Gflexa
{
   display: inline-block;
}
.flexa1
{
   height: 100vh;
}
/*
.flexa2
{
   float: right;
} */
.flexa1 a
{
   background-image: url('/static/image/etudiant.jpg');
   width: 50%;
   position: absolute;
   left: 50%;
   height: 100vh;
   background-size: cover;
   opacity: 0.5;
   transition: 0.4s;
   filter: grayscale(100%);
}
.flexa2 a 
{
   background-image: url('/static/image/prof.jpg');
   width: 50%;
   position: absolute;
   height: 100vh;
   top: 0;
   background-size: cover;
   opacity: 0.5;
   transition: 0.4s;
   filter: grayscale(100%);

}
.flexa2 a:hover,
.flexa1 a:hover
{
   opacity: 1;
   transition: 0.4s;
   filter: grayscale(0%);
}
.flexa3 img
{
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0.7;
}
.flotena
{
   flex: 1;
}
.floatage
{
   flex: 1;
}
.divray
{
   display: flex;
   text-align: center;
}
